.editor {
  counter-reset: line;
  font-family: JetBrainsMono, source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 13px;
}

.editor .codeArea {
  outline: none;
}

.editor pre {
  color: #94a3b8;
}

.editor > pre,
.editor > textarea {
  word-break: break-all !important;
}

.lineNumbers > pre,
.lineNumbers > textarea {
  padding-left: 60px !important;
}

.editor .editorLineNumber {
  position: absolute;
  left: 0px;
  color: #7b7b7b;
  text-align: right;
  width: 45px;
  font-weight: 100;
}

.editor .mathResult {
  position: absolute;
  pointer-events: all;
  z-index: 10;
}

mark {
  color: inherit;
  background-color: var(--chakra-colors-orange-100);
}

.chakra-ui-dark {
  mark {
    color: black;
    background-color: var(--chakra-colors-orange-500);
  }

  .token {
    background-color: inherit !important;
  }

  .token.property,
  .token.tag,
  .token.boolean,
  .token.number,
  .token.constant,
  .token.symbol,
  .token.deleted {
    color: var(--chakra-colors-red-200);
  }

  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    color: var(--chakra-colors-green-100);
  }

  .token.atrule,
  .token.attr-value,
  .token.keyword {
    color: var(--chakra-colors-blue-300);
  }
}
