.editor {
  counter-reset: line;
  font-family: JetBrainsMono, source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 12px;
}

.editor .codeArea {
  outline: none;
}

.editor pre {
  color: rgb(148 163 184);
}

.lineNumbers > pre, .lineNumbers > textarea  {
  padding-left: 60px !important;
}

.editor .editorLineNumber {
  position: absolute;
  left: 0px;
  color: #7b7b7b;
  text-align: right;
  width: 45px;
  font-weight: 100;
}

.editor .mathResult {
  position: absolute;
  pointer-events: all;
  z-index: 10;
}

.token.operator {
  background-color: inherit;
}

mark {
  color: inherit;
  background-color: var(--chakra-colors-orange-100);
}

.chakra-ui-dark mark {
  color: black;
  background-color: var(--chakra-colors-orange-500);
}