body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("./fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

mark {
  color: inherit;
  background-color: var(--chakra-colors-orange-100);
}